#book_info {
  display: flex;
  flex-direction: column;
}

#book_info #main {
  display: flex;
}

#book_info #image {
  width: 400px;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#book_info #details {
  margin: 20px 0 0 20px;
}

#book_info #details #title {
  font-size: 55px;
  margin: 10px 0;
}

#book_info #details #writer {
  display: inline;
  font-size: 25px;
  margin: 0px;
}

#book_info #details #seperator {
  display: inline;
  font-size: 20px;
  margin: 0 5px;
}

#book_info #details #publisher {
  font-size: 20px;
  display: inline;
}