#book_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
}

#book_list #book {
  width: 200px;
  cursor: pointer;
  align-self: end;
}

#book_list #book #image {
  width: 200px;
  border-radius: 1rem;
  opacity: 0.7;
  box-shadow: none;
  transition: 300ms;
}

#book_list #book #image:hover {
  opacity: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#book_list #add {
  width: 180px;
  height: 270px;
  align-self: end;
  border: 10px dashed black;
  border-radius: 2rem;
  cursor: pointer;
  text-align: center;
  line-height: 270px;
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: none;
  transition: 500ms;
}

#book_list #add:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgba(0,0,0,0.2);
}

#book_list #add #text {
  font-size: 1.5rem;
  font-weight: 700;
}