@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@500&family=Yeon+Sung&display=swap');

@import url("./normalize.css");
@import url("./sidemenu.css");
@import url("./booklist.css");
@import url("./bookinfo.css");

body {
  height: 100%;
  font-family: 'Baloo Tamma 2', 'Yeon Sung';
}

section {
  margin: 2rem;
  margin-left: calc(15% + 2rem);
}

nav {
  position: fixed;
  height: 100%;
  width: 15%;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

footer {
  position: absolute;
  right: 0;
  bottom: 15px;
  left: 0;
  text-align: center;
  color: #636363;
}